
/* responsive */

@media screen and (max-width:1025px) {
    .nav_bar {
        display: flex;
        min-width: 500px;
        justify-content: space-around;
    }
    .nav_bar a{
        font-size: 12px;
    }
}

@media screen and (max-width:940px) {
    .footer_column h3{
        font-size: 0.70em;
    }
    .footer_column a{
        font-size: 0.80rem;
    }
}

@media screen and (max-width:794px) {
    .category_items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }
    
    .sale_item{
        width: 100%;
    }
}